<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProcesoCRUD.Properties.Settings.cn" connectionString="Data Source=AndresBayona\MSSQLSERVER01;Initial Catalog=BD_CRUD;User ID=user_vr;Password=prueba123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>